@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar thoda sundar kar dete hain */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 4px;
}